.cart {
  li {
    padding-bottom: 10px;
  }

  &__checkout {
    button {
      width: 100%;
    }
  }

  &__quantity-remove {
    display: flex;
    gap: 10px;
    padding-top: 5px;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}
